<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href={{url_for('main.static', filename='img/favicon.ico')}} type="image/x-icon">

    <title>Istmex</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('home.static', filename='node_modules/fontawesome/css/all.min.css')}}">
	  <link rel="stylesheet" href="{{url_for('home.static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
	  <link rel="stylesheet" href="{{url_for('home.static', filename='node_modules/animate-css/animate.min.css')}}">
    <!-- Custom styles for this template -->
	  <link href={{url_for('home.static', filename='css/home.css')}} rel="stylesheet">
	  <link href={{url_for('home.static', filename='css/loader.css')}} rel="stylesheet">
  </head>	

  <body class="animated fadeIn">
      <canvas id="canvas"></canvas>
      <div id="log_reg">
          <div class="login-page">
            <div class="form">
              <form class="register-form">
                {{registrationForm.csrf_token()}}
                <fieldset class="forms_fieldset">
                {{registrationForm.username(type="text", 
                                            placeholder="Username",
                                            autocomplete="on")}}   
                {{registrationForm.email(type="email",
                                         placeholder="email",
                                         autocomplete="on")}}
                {{registrationForm.password(type="password", 
                                            placeholder="password",
                                            autocomplete="off")}}
                {{registrationForm.submit(class="forms_buttons-action")}}

                <div class="forms_field">
                  <p>I accept the terms of service</p>
                  {{registrationForm.accept_tos()}}
                </div>   

                </fieldset>
                <p class="message">Already registered? <a>Sign In</a></p>
              </form>
  
  
              <form class="login-form">
                <div class="title">
                    
                  <p>Istmex Exchange</p>
                  
                </div>
                <fieldset class="forms_fieldset">
                  {{loginForm.csrf_token()}}
                  {{loginForm.email(type="email",
                                    placeholder="Email",
                                    class="input-block-level",
                                    autocomplete="on")}}
                                    
                  {{loginForm.password(type="password",
                                       placeholder="Password",
                                       class="input-block-level",
                                       autocomplete="off")}}

                  {{loginForm.submit(class="btn-login")}}
                  <div class="forms_field">
                      <p>Remember Me</p>
                      {{loginForm.remember_me()}}
                      {{loginForm.do(value="login")}}
                  </div>

              </fieldset>
                <p class="message">Not registered? <a>Create an account</a></p>
              </form>

  
            </div>

          </div>
          <div id="loader-wrapper">
            <div id="splash">
              <div class="anim">
                <div id="loader">
                    <i class="fas fa-chart-line fa-3x"></i>
                </div>
              </div>
            </div>    
          </div>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="{{url_for('home.static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('home.static', filename='node_modules/popper.js/dist/umd/popper.min.js')}}"></script>
    <script src="{{url_for('home.static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('home.static', filename='js/home.js')}}"></script>
    <script src="{{url_for('home.static', filename='js/bckg.js')}}"></script>
  </body>
</html>


